html,
body {
  height: 100%;
  font-size: 20px;
}

h1 {
	color: #ffffff;
	background-image: url('https://ksr-ugc.imgix.net/assets/005/169/371/f39adbb4484cbab16338ce507fb25bfd_original.jpg?w=1600&fit=max&v=1452358772&auto=format&q=92&s=d4b96b8a00022053c25969d7d5dd7bdf');
	opacity: 0.8;
	font-size: 60px;
	font-family: 'Pirata One';
  margin: 0 0 10px;
  padding: 20px;
  text-shadow: 0.1em 0.1em 0.2em black;
  border: 2px solid #522c2c;
	}

p {
	margin: 20px 0;
}
.container {
	text-align: center;
	padding: 0;
}

#wrap {
	min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.footerContainer {
	text-align: center;
  top: 50%;
	position: relative;
	transform: translateY(-50%);
}

button {
	font-family: 'Pirata One';
  font-size: 25px;
	padding: 10px;
	margin: 0 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	backface-visibility: hidden;
	color: white;
	text-shadow: 1px 2px 3px black;
	background-clip: content-box;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
	background: #951515;
}

button:hover {
    background: #741414;
}

.image {
  padding: 30px 0;
}

@media only screen and (min-height: 500px) and (orientation: portrait) .image {
    max-width: 49.2vh;
}

img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	backface-visibility: hidden;
	font-size: 100%;
	text-shadow: 1px 2px 3px black;
	background-clip: content-box;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}


@media screen and (max-width: 320px) {
	img {
    max-width: 80% ;
  }
  button {
  	max-width: 80%;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  img {
    width: 80%;
  }
  button {
  	width: 80%;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  img {
    width: 350px;
  }
}

@media screen and (min-width: 801px) {
  img {
	  width: 350px;
  }

  .container {
	    width: 100% !important;
	}
}

@media (min-width: 1200px) {
	.container {
	    width: 100% !important;
	}
}

#drawButton {
	margin: 30px 0;
}
